<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head></head>
<body>

  <div class="content-wrapper" th:fragment="dashboard-content-main">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Services Context</small>
      </h1>
      <ol class="breadcrumb">
        <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">

        <div class="col-md-6 col-sm-12 col-xs-24" th:each="product : ${products}">
          <div class="info-box">
           	<!-- box-colors: bg-aqua, bg-red, bg-green, bg-yellow -->
            <a th:href="@{'/platform/product/' + ${product.internal} + '/details'}">
              <span th:class="'info-box-icon ' + ${product.statusColor}" style="height: 110px; line-height: 110px;">
                <i class="ion ion-ios-gear-outline" style="color: #fff;"></i>
              </span>
            </a>
            <div class="info-box-content" style="height: 110px;">
              <span class="info-box-text" style="text-transform: none; font-weight: bold;" th:text="${product.name} +' - '+ ${product.version}"></span>
              <span class="info-box-text" style="text-transform: none;" th:text="${product.lastStatusTimestamp}"></span>
              <span class="info-box-text" style="text-transform: none;" th:text="${product.environment}"></span>
              <span class="info-box-text" style="text-transform: none;" th:text="${product.hostname}"></span>
              <span class="info-box-text" style="text-transform: none; font-weight: bold; color: #db8b0b;" th:text="${product.organization.name}"></span>
            </div>
          </div>
        </div>

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

      </div>
      <!-- /.row -->

      <!-- Main row -->
      <div class="row">


      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</body>
</html>