<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  
	xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head></head>
<body>

  <footer class="main-footer" th:fragment="footer">
    <div class="pull-right hidden-xs">
      <b>Versão</b> 0.0.1
    </div>
    <strong>Copyright &copy; 2017 <a href="#">Vulcano Monitor</a>.</strong> Todos os direitos reservados.
  </footer>

</body>
</html>