<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head></head>
<body>

<div th:fragment="message-processor">
 <div id="process_message_danger" th:if="${error != null}" class="callout alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4><i class="icon fa fa-ban"></i> Attention!</h4>
  <span th:text="${error}"></span>
 </div>

 <div id="process_message_info" style="display: none;" class="callout alert alert-info alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4><i class="icon fa fa-info"></i> Info</h4>
  <span th:text="${error}"></span>
 </div>

 <div id="process_message_warning" style="display: none;" class="callout alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4><i class="icon fa fa-warning"></i> Info</h4>
  <span th:text="${error}"></span>
 </div>

 <div id="process_message_success" style="display: none;" class="callout alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4><i class="icon fa fa-check"></i> Info</h4>
  <span th:text="${error}"></span>
 </div>
</div>

</body>
</html>